{%extends "layout.html" %}
{% block content %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{url_for('static', filename='profil_pics/' + p.autor.img)}}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{url_for('user_posts', username=p.autor.username)}}">{{ p.autor.username }}</a>
              <small class="text-muted">{{ p.date.strftime('%Y-%m-%d') }}</small>
              {% if p.autor == current_user %}
                <div>
                    <a class="btn btn-secondry btn-sm mt-1 mb-1" href="{{ url_for('update_post', post_id=p.id) }}">Update</a>
                    <button type="'button" class="btn btn-danger btn-sm m-s " data-toggle="modal" data-target="#deleteModal">Delete</button>
                </div>
              {% endif %}
            </div>
            <h2 class="article-title" >{{ p.title }}</h2>
            <p class="article-content">{{ p.content }}</p>
            <div>
                <a class="btn btn-secondry text-darksteel" href="{{url_for('up_vote', post_id=p.id)}}">+{{ p.up_votes }} Up Vote</a>
                <a class="btn btn-secondry text-darksteel" href="{{url_for('down_vote', post_id=p.id)}}">-{{ p.down_votes }} Down Vote</a>
                <a class="btn btn-secondry text-darksteel" href="{{url_for('new_comment', post_id=p.id)}}">Comment</a>
            </div>
            <p class="article-content"></p>

        {%for p in pos %}
                <article class="media content-section">
                  <img class="rounded-circle article-img" src="{{ url_for('static', filename='profil_pics/' + p.autor.img) }}">
                  <div class="media-body">
                    <div class="article-metadata">
                      <a class="mr-2" href="{{url_for('user_posts', username=p.autor.username)}}">{{ p.autor.username }}</a>
                      <small class="text-muted">{{ p.date.strftime('%Y-%m-%d') }}</small>
                    </div>
                    <h2><a class="article-title" href="{{url_for('post', post_id=p.id)}}">{{ p.title }}</a></h2>
                    <p class="article-content">{{ p.content }}</p>
                  </div>
                </article>
        {% endfor %}
          </div>
        </article>
<!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Delete post?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <form action="{{ url_for('delete_post', post_id=p.id) }}" method="POST">
                <input class="btn btn-danger" type="submit" value="Delete">
            </form>
          </div>
        </div>
      </div>
</div>
{% endblock content %}